div.video {
    position: relative; 
    padding-bottom: 56.25%; 
    margin-bottom: 2em;
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
}

div.video iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}